player-connection-mode=Listen
player-connection-guid=2581406665
player-connection-debug=0
player-connection-project-name=JuggleBall_demo2
player-connection-ip=172.18.160.1
player-connection-ip=192.168.31.77
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
